# requirements.txt
# http://pip.readthedocs.io/en/stable/reference/pip_install/#requirements-file-format

# keymint dependencies from PyPI
argcomplete
attrdict
cryptography
osrf_pycommon
xmlschema

# install M2Crypto from python 3 branch for s/mime singing
# https://gitlab.com/m2crypto/m2crypto/merge_requests/65
# Build dependencies for M2Crypto on Debian:
# sudo apt-get install build-essential python3-dev python-dev libssl-dev swig
git+https://gitlab.com/m2crypto/m2crypto.git@python3#egg=m2crypto


# keymint packages from sources
git+git://github.com/keymint/keymint_cli.git@master#egg=keymint_cli
git+git://github.com/keymint/keymint_comarmor.git@master#egg=keymint_comarmor
git+git://github.com/keymint/keymint_keymake.git@master#egg=keymint_keymake
git+git://github.com/keymint/keymint_package.git@master#egg=keymint_package
git+git://github.com/keymint/keymint_profile.git@master#egg=keymint_profile
git+git://github.com/keymint/keymint_tools.git@master#egg=keymint_tools
