# requirements.txt
# http://pip.readthedocs.io/en/stable/reference/pip_install/#requirements-file-format

# comarmor packages from source
git+git://github.com/comarmor/comarmor.git@master#egg=comarmor

# keymint packages from sources
git+git://github.com/keymint/keymint_cli.git@master#egg=keymint_cli
git+git://github.com/keymint/keymint_comarmor.git@master#egg=keymint_comarmor
git+git://github.com/keymint/keymint_keymake.git@master#egg=keymint_keymake
git+git://github.com/keymint/keymint_package.git@master#egg=keymint_package
git+git://github.com/keymint/keymint_profile.git@master#egg=keymint_profile
git+git://github.com/keymint/keymint_tools.git@master#egg=keymint_tools
